/* Header Styles */
#umnhf-h {
  zoom: 1;
  &.umnhf {
    position: relative;
    min-height: 54px;
    background-color: $header_color;
  }
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
  a {
    &.umnhf {
      &:link,
      &:visited,
      &:hover,
      &:active {
        text-decoration: underline;
        color: $maroon;
      }
      &:hover {
        color: $dark-blue;
      }
    }
  }
  .wordmark {
    display: none;
  }
}

#umnhf-h-logo {
  display: block;
  float: left;
  overflow: hidden;
  width: 360px;
  height: 38px;
  margin: 17px 10px 17px 54px;
  white-space: nowrap;
  text-indent: 100%;
  background: transparent url("../img/sprites/du/D2D-wht-gld.png") 0 0 no-repeat;
  background-size: 360px 67px;

  @include retina {
    background: transparent url("../img/sprites/um-retina/D2D-wht-gld@2x.png") 0 0 no-repeat;
  }
}

#umnhf-h-ql {
  float: right;
  width: auto;
  margin: 0 20px;
  list-style-type: none;
  color: $white;
  li {
    margin: 0;
    font-weight: 100;
    line-height: 55px;
    float: left;
    margin: 0 0 0 20px;
    a {
      text-decoration: none;
      font-weight: 100;
      @if $header_color == #7a0019 {
        color: $white;
      }
      @else {
        color: $slate;
      }
      &:hover,
      &:active,
      &:focus {
        text-decoration: underline;
      }
    }
  }
  span {
    display: inline-block;
    width: 12px;
    height: 12px;
    @if $header_color == #7a0019 {
      background: transparent url("../img/sprites/lock-search-wht.png") 0 0 no-repeat;

      @include retina {
        background: transparent url("../img/sprites/lock-search-wht@2x.png") 0 0 no-repeat;
        background-size: 22px 34px;
      }
    }
    @else {
      background: transparent url("../img/sprites/lock-search-g.png") 0 0 no-repeat;
    }
  }
}

@if $dropdown {
  #umnhf-m-search {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }
}
@else {
  #umnhf-m-search {
    display: none;
  }
}

#umnhf-h-search {
  float: right;
  width: 205px;
  height: 22px;
  margin: 14px 54px 0 0;
  label {
    &.umnhf {
      display: none;
    }
  }
}

.mobile input[type="text"] {
  -webkit-appearance: none;
  @include border-radius(0);
}

#umnhf-h-st {
  position: relative;
  width: 168px;
  height: 22px;
  padding-left: 3px;
  cursor: text;
  color: $dark-gray;
  border: 0;
  background-color: $white;
  font-size: 12px;
  line-height: 18px;

  -webkit-appearance: none;
  @include border-radius(0);
}

#umnhf-h-sb {
  display: block;
  float: right;
  overflow: hidden;
  width: 22px;
  height: 22px;
  margin-left: 4px;
  cursor: pointer;
  white-space: nowrap;
  color: #7a0019;
  border: 0;
  font: bold 0.925em/1.35em arial,helvetica,clean,sans-serif;
  @if $header_color == #7a0019 {
    background: transparent url("../img/sprites/lock-search-wht.png") 0 -12px no-repeat;

    @include retina {
      background: transparent url("../img/sprites/lock-search-wht@2x.png") 0 0 no-repeat;
      background-position: 0 -12px;
      background-size: 22px 34px;
    }
  }
  @else {
    background: transparent url("../img/sprites/lock-search-g.png") 0 -12px no-repeat;
  }
}

#umnhf-h-ma {
  overflow: auto;
  padding: 3.2em 0 1em 3em;
  border-bottom: 1px solid $gray;
  div {
    &.umnhf-alt-logo {
      float: left;
      width: 50%;
      margin: 10px 0 0 0;
      a {
        &.umnhf-alt-home {
          display: block;
          width: 360px;
          height: 38px;
          background: transparent url("../img/sprites/du/D2D-mrn-blk.png") 0 0 no-repeat;

          @include retina {
            background: transparent url("../img/sprites/du/D2D-mrn-gld@2x.png") 0 0 no-repeat;
            background-size: 360px 67px;
          }
        }
      }
    }
  }
  nav {
    &.nav-campuses {
      ul {
        position: relative;
        left: -35px;
        width: 465px;
        list-style-type: none;
        li {
          display: inline-block;
          padding: 0 5px;
          a {
            line-height: 25px;
            &:link,
            &:visited,
            &:hover,
            &:active {
              padding: 0;
              -webkit-transition: background-color 0.3s,border-color 0.3s;
                      transition: background-color 0.3s,border-color 0.3s;
              text-decoration: none;
              color: $slate;
              &:hover {
                background-color: $gray;
              }
              &.home {
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}

.display-after-menu-collapse.umnhf {
  display: none;

  @include tablet-max-775 {
    display: block;
    width: 100%;
    cursor: pointer;
    text-align: center;
    color: $white;
    background-color: $slate;
    font: 300 normal normal 28px/50px Helvetica, "Helvetica Neue", "Futura", Verdana, "Geneva", sans-serif;
  }
}

#umnhf-alt-n {
  ul {
    float: right;
    width: 265px;
    margin: 0 54px 0 0;
    padding: 0;
    list-style-type: none;
    text-align: right;
    font-weight: 300;
  }
  li {
    display: inline-block;
    width: 50%;
    text-align: left;
  }
  a {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5em;
    line-height: 20px;
    &:link,
    &:active,
    &:visited {
      -webkit-transition: background-color 0.3s,border-color 0.3s;
              transition: background-color 0.3s,border-color 0.3s;
      text-decoration: none;
      color: $slate;
      border-bottom: none;
      font-size: 16px;
    }
    &:hover,
    &:focus {
      background-color: $gray;
    }
    &.active {
      color: $maroon;
      background-color: $lighter-gray;
      font-weight: 500;
      &:hover {
        background-color: $gray;
      }
    }
  }
}

@include desktop-max-1152 {
  #umnhf-h-ma {
    padding-left: 1em;
    nav {
      &.nav-campuses {
        ul {
          left: -40px;
        }
      }
    }
    #umnhf-alt-n {
      padding-right: 0;
      ul {
        margin-right: 1em;
      }
    }
  }
}

@include tablet-max-775 {
  #umnhf-h {
    .wordmark {
      display: block;
      float: left;
    }
  }
  #umnhf-h-logo {
    display: block;
    float: left;
    overflow: hidden;
    width: 360px;
    height: 38px;
    margin: 10px 0 0 17px;
    white-space: nowrap;
    text-indent: 100%;
    background: transparent url("../img/sprites/du/M-wht-gld.png") 0 0 no-repeat;
    background-position: 0 -38px;
    background-size: 288px 67px;

    @include retina {
      background: transparent url("../img/sprites/du/M-wht-gld@2x.png") 0 0 no-repeat;
      background-position: 0 -38px;
      background-size: 288px 67px;
    }
  }
  #umnhf-h-ql {
    display: none;
  }
  #umnhf-h-search {
    margin-right: 17px;
  }
  #umnhf-alt-nav {
    display: none;
  }
  #umnhf-h-ma {
    padding: 0;
    .umnhf-alt-logo {
      display: none;
    }
    #umnhf-alt-n {
      float: none;
      width: 100%;
      padding: 0;
      ul {
        width: 100%;
        height: auto;
        margin: 0;
        li {
          display: block;
          width: 100%;
          text-align: center;
          &:nth-child(odd) {
            background-color: $lightest-gray;
          }
        }
        a {
          line-height: 40px;
        }
      }
    }
  }
}

@include tablet-max-674 {
  #umnhf-h-search {
    width: 200px;
    margin-right: 17px;
  }
}

@include tablet-max-609 {
  #umnhf-h-ql {
    display: none;
  }
  @if $dropdown == true {
    #umnhf-h {
      &.umnhf {
        min-height: 54px;
      }
    }
    #umnhf-h-search,
    #umnhf-h-sb {
      display: none;
    }
  }
  @else {
    #umnhf-h-search {
     width: 100%;
     float: left;
     height: 35px;
    }
    #umnhf-h-st,
    #umnhf-h-sb {
      float: left;
    }
    #umnhf-h-sb {
      position: relative;
      top: 6px;
    }
  }
  #umnhf-h-logo {
    display: block;
    width: 279px;
    height: 29px;
    /* Switch wordmark to smaller version */
    background-position: 0 -38px;
  }
  #umnhf-h-search.mobile {
    display: block;
    width: 100%;
    height: 30px;
    margin: 5px 0 5px 17px;
    #umnhf-h-st {
      float: left;
    }
    #umnhf-h-sb {
      float: left;
      margin-top: 5px;
    }
  }
  @if $dropdown {
    #umnhf-m-search {
      position: absolute;
      top: 17px;
      right: 25px;
      display: block;
      clip: auto;
      width: auto;
      height: auto;
      padding: 5px 6px 4px;
      cursor: pointer;
      text-align: left;
      white-space: nowrap;
      font: bold 0.925em/1.35em arial, helvetica, clean, sans-serif;

      @include border-radius(4px);
      @if $header_color == #7a0019 {
        color: $maroon;
        background-color: $gold;
      }
      @else {
        color: $gold;
        background-color: $maroon;
      }
    }
    #umnhf-m-search.mobile {
      display: none;
    }
  }
  #umnhf-h-st {
    display: block;
    width: 192px;
    margin: 5px 0 5px 17px;
  }
  #umnhf-h-sb {
    right: 0;
    display: block;
  }
}

@include phone-max-380 {
  #umnhf-m-search {
    .mobile {
      position: absolute;
      top: 13px;
      right: 10px;
      left: auto;
      width: auto;
      height: auto;

      @include border-radius(4px);
    }
  }
  #umnhf-h-logo,
  #umnhf-h-search.mobile {
    margin-left: 10px;
  }
  #umnhf-m-search {
    right: 10px;
  }
}

@include print {
  #umnhf-alt-n {
    display: none;
  }
}
