/node_modules

/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/hot
/public/storage
/public/*.js
/public/css
/public/js/
/public/mix-manifest.json
*.DS_Store
.phpintel
docs/.vuepress/dist