:root {
  // golds
  --gold: #fc3;
  --gold-light: #ffde7a;
  --gold-header: #ffd75f;
  --gold-dark: #ffb71e;

  // maroons
  --maroon: #7a0019;
  --maroon-light: #900021;
  --maroon-dark: #4d0010;
  --maroon-darker: #5b0013;

  //secondaries
  --green: #28a745;
  --orange: #e37222;
  --blue: #00759a;

  // neutrals
  --neutral-50: #fafafa;
  --neutral-100: #f5f5f5;
  --neutral-200: #eeeeee;
  --neutral-300: #d4d4d4;
  --neutral-400: #a3a3a3;
  --neutral-500: #737373;
  --neutral-600: #525252;
  --neutral-700: #404040;
  --neutral-800: #262626;
  --neutral-900: #171717;

  // grays
  --true-black: #000;
  --black: var(--neutral-900);
  --gray-darker: var(--neutral-800);
  --gray-dark: var(--neutral-600);
  --gray-medium: #var(--neutral-500);
  --gray-light: var(--neutral-300);
  --gray: var(--gray-light);
  --gray-lighter: var(--neutral-100);
  --white: #fff;
}
