// Vendor
@use "bootstrap/dist/css/bootstrap.min.css";
@use "katex/dist/katex.min.css";

// Variables
@use "variables";
@use "footer";

.fade-enter-active,
.fade-leave-active {
  transition: all 1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-move {
  transition: transform 1s;
}

.dropdown-enter-active,
.dropdown-leave-active {
  transition: all 0.2s;
  max-height: 600px;
}
.dropdown-enter,
.dropdown-leave-to {
  opacity: 0;
  max-height: 0px;
}

/**
* To make the cards hover with a dropshadow
*/
.hoverable {
  margin-top: 5px;
  margin-bottom: 5px;
}
.hoverable:hover {
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 2px 2px 18px lightgray;
}

html {
  height: -webkit-fill-available;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--black);
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

.material-icons.md-12 {
  font-size: 12px;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.btn-outline-secondary {
  border-color: var(--gray-dark);
  color: var(--gray-dark);
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: var(--gray-dark);
  border-color: var(--gray-dark);
}

.navbar-light .navbar-nav .nav-link {
  font-size: 14px;
}

.badge-gold {
  background: var(--gold);
}

.pointer {
  cursor: pointer;
}
.handle {
  cursor: move;
}

// draggable: style while dragging
.ghost {
  opacity: 0.5;
  background: #ccc;
}

img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

.container-fluid {
  max-width: 90em;
  margin: auto;
  padding: 0 1rem;
}

@media (min-width: 50rem) {
  .grid-cols-2 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
    align-items: flex-start;
    margin: 1rem 0;
  }
}

/* Bootstrap 5 Gap Utils */
.gap-0 {
  gap: 0;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 1rem;
}

.gap-4 {
  gap: 1.5rem;
}

.max-w-fit {
  max-width: fit-content;
}

.text-xs {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}

.text-sm {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.text-base {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

.text-lg {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}

.text-xl {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

.text-2xl {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

.font-normal {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.align-middle {
  vertical-align: middle;
}

.max-w-lg {
  max-width: 32rem; /* 512px */
}
.max-w-xl {
  max-width: 36rem; /* 576px */
}

.max-w-2xl {
  max-width: 42rem; /* 672px */
}

ul {
  margin-bottom: 0;
}
