
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// CSS libraries
@import '~bootstrap/scss/bootstrap';
@import "footer";


.fade-enter-active,
.fade-leave-active {
    transition: all 1s;
    // position: absolute;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.fade-move {
    transition: transform 1s;
}
