$white: #fff;
$black: #000;

$lightest-gray: #f9f9f9;
$lighter-gray: #f0f0f0;
$light-gray: #f0efee;
$gray: #dbdbdb;
$dark-gray: #8a8a8a;

$light-slate: #eaecef;
$slate: #404d5b;

$yellow-gray: #d5d6d2;

$maroon: #7a0019;
$gold: #ffd75f;

$dark-blue: #669;