//Use the options below to customize your header and footer.  Refer to the documentation.md file for additional information.

// HEADER COLOR
// Determines whether the header is maroon or gold.
// Options:
// 	 $maroon
//          $gold
$header_color: $maroon;

// DRIVEN TO DISCOVER
// Use logo with 'Driven to Discover' text?
//	true => Include 'Driven to Discover'
// 	false => Do not include 'Driven to Discover'
$driven: true;

// MAX WIDTH
// Choose between two possible maximum widths:
// 	960px
// 	1152px
$max_width:  100%;

// HEADER SEARCH STYLE
// Dropdown: The search bar will collapse into a "Search" button on mobile devices. 
// Two-Tiered: The search bar will drop below the University of Minnesota logo on mobile devices.
// 	true => Dropdown
// 	false => Two-Tiered
$dropdown: false;

// UNIT IDENTIFICATION AND NAVIGATION
// Chooose to include styles for the unit identification and navigation or not.
// Remove this section from your template if you do not wish to use this section
// 	true => Vertical
// 	false => Horizontal 
$vertical: true;

// UNIT FOOTER
// Choose to include the styles for the unit footer or not.
// 	true => Will include styles for the unit footer
// 	false => Will not include styles for the unit footer
$unit_f: true;